<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlexibleTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E0F0E641C4F5AF200BC8F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0F0E7D1C4F5AF200BC8F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0F0E881C4F5AF300BC8F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
